{{- if and .Values.cloudflare.enabled .Values.pm.enabled }}
---
# TunnelBinding: PM Service Webhooks
# Routes webhook traffic to the PM service
apiVersion: networking.cfargotunnel.com/v1alpha1
kind: TunnelBinding
metadata:
  name: pm-webhooks
  namespace: {{ include "cto.namespace" . }}
  labels:
    {{- include "cto.pm.labels" . | nindent 4 }}
    app.kubernetes.io/component: cloudflare-binding
tunnelRef:
  kind: ClusterTunnel
  name: {{ .Values.cloudflare.tunnel.name }}
subjects:
  - name: {{ include "cto.pm.fullname" . }}
    spec:
      fqdn: {{ .Values.cloudflare.bindings.pm.hostname }}
      target: http://{{ include "cto.pm.fullname" . }}.{{ include "cto.namespace" . }}.svc:{{ .Values.pm.service.port }}
{{- end }}


